
# MIT License
# 
# Copyright (c) 2016 Brandon Wilson
# 
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
# 
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
# 
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.


declare -A path=(
	["prefix"]="${HOME}/.si"
	["si-home"]="${SI_HOME}"
	["config"]="${HOME}/.config/si/config"
	["vimrc"]="${path[si-home]}/default.vimrc"
)


### connection settings

declare -A server=(
	["freenode"]="irc.freenode.net"
	["oftc"]="irc.oftc.net"
)

declare -A nick=(
	["freenode"]="si_$RANDOM"
	["oftc"]="si_$RANDOM"
)

declare -A connecthook=(
	["freenode"]="postconnect_freenode"
)

declare -A channels=(
	["freenode"]="
		#si"
	["oftc"]="
		#ii 
		#suckless"
)

declare -A timeout=(
	[nick-registration]=30
)


### ui settings

declare -A color=(
	[date]=234
	[nick]=173
	[self]=39
)

declare -A size=(
	[input-pane]=2
	[output-buffer]=512
)

declare -A format=(
	[window-name-prefix]="si:"
	[window-name-separator]=","
)

### network connect hooks

function postconnect_freenode {
	# post-connect setup goes here
	return
}
